/* Set the width of the carousel container to 30% of the viewport width */
.carousel-container {
  max-width: 30vw; /* Adjust as needed */
  margin: auto; /* Center the carousel */
}

/* Set margin on top of the page */
body {
  margin-top: 200px;
   /* Adjust as needed */
}

/* Set the width of the images to 100% of their container */
.carousel-container .carousel-item img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}
