#topheader {
  display: flex;
  flex-direction: row; /* Display items horizontally */
}

.logo1,
.shortcut {
  margin-right: 10px; /* Add some spacing between items */
}

.shortcut:last-child {
  margin-right: 0; /* Remove margin from the last item */
}