/* Set margin on top of the page */
body {
  margin-top: 40px;
}

#topheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 400px;
  margin-bottom: 30px; /* Add margin between the shortcut icons and the carousel
   */
}

.shortcut {
  margin-right: 50px;
  margin-bottom: 0px; /* Add margin to the bottom of each shortcut */
}

.icon-container {
  text-align: center;
}

/* Set custom width and height for each shortcut item */
.shortcut:nth-child(1) .shortcut-img {
  width: 200px;
  height: auto;
}

.shortcut:nth-child(2) .shortcut-img {
  width: 50px;
  height: auto;
}

.shortcut:nth-child(3) .shortcut-img {
  width: 50px;
  height: auto;
}

.shortcut:nth-child(4) .shortcut-img {
  width: 50px;
  height: auto;
}

.shortcut:nth-child(5) .shortcut-img {
  width: 50px;
  height: auto;
}

.shortcut:nth-child(6) .shortcut-img {
  width: 50px;
  height: auto;
}

.shortcut:nth-child(7) .shortcut-img {
  width: 50px;
  height: auto;
}

.shortcut:nth-child(8) .shortcut-img {
  width: 50px;
  height: auto;
}

.title {
  display: block;
  font-size: 12px;
}

/* Set the width of the carousel container to 30% of the viewport width */
.carousel-container {
  max-width: 30vw;
  margin: auto;
}

/* Set the width of the images to 100% of their container */
.carousel-container .carousel-item img {
  width: 100%;
  height: auto;
}

.separator-line {
  border-top: 4px solid orange; /* Increase the thickness by changing the pixel value */
  width: calc(100% - 800px); /* Adjust the width to accommodate margins */
  margin: 30px auto; /* Set top and bottom margin to 20px, and center
  horizontally */
  margin-left: auto; /* Set left margin to auto */
  margin-right: auto; /* Set right margin to auto */
}
